main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    width: 500px;
    height: 600px;
    border: solid 2px black;
    flex-direction: column;

}
img {
    width: 500px;
    height: 400px;
}

h1 {
    display: flex;
    justify-content: center;
}

#numPick {
    margin-left: 45%;
}